# Python
__pycache__/
*.egg-info/
.ipynb_checkpoints
.cache
.pytest_cache/

# System specific files

## Linux
*~
.Trash-*

## macOS
.DS_Store
._*
.Trashes

## Windows
Thumbs.db
[Dd]esktop.ini

## Text Editors
.vscode

## R
.Rproj.user
iscb-diversity.Rproj
.Rhistory
Rdata/
for-presentation/

## Genderize.io API
utils/secrets.py
