backoff~=1.10.0
eutils~=0.6.0
git+https://github.com/elyase/geotext.git@add0334c4b4380f47a6b0cf8c7880e206c157f48
geopy~=2.0.0
ipywidgets~=7.5.1
jsonlines~=1.2.0
lxml~=4.6.1
nbconvert~=6.0.7
notebook~=6.1.4
numpy~=1.19.2
pandas~=1.1.3
git+https://github.com/dhimmel/pubmedpy.git@129ea162214a00cebf561a8ddb011a2828a6ebbf
ratelimit~=2.2.1
requests~=2.24.0
sickle~=0.7.0
tqdm~=4.50.2
